<h1><%= @materia.name %></h1><br/>
codigo: <%= @materia.code %><br/>
creditos: <%= @materia.credits %><br/>
umes: <%= @materia.umes %><br/>
profesor: <%= @materia.professor %><br/>
descipción: <%= @materia.description %><br/>
programa: <%= link_to "http://#{@materia.description}" %><br/>
página de la materia: <%= "http://#{@materia.description}" %><br/>
<%= link_to "Todas las materias", :action => :list %>
